html {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h3{
    color: #000000;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    display: block;
    margin : 10px 0;
}

a {
    text-decoration: none;
    color:inherit;
}

/*sections*/
.container-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}
/*direction colonne*/
.colonne {
    flex-direction: column;
}

/*direction ligne*/
.en-ligne {
    display:flex;
    flex-direction: row;
}

/*section grise*/
.container-1.gris {
    background-color: #f2f2f2;
}

/*encadré gris*/
.container-2 {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding: 30px;
    box-sizing: border-box;
    border-radius: .5rem;
    justify-content: space-between;
}

/*cartes*/
.container-3 {
    display: flex;
    flex-direction: column;
    margin : 10px;
    flex-grow: 1;
}

/*container cartes activités*/
.container-4 {
    height: 390px;
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin:5px;

}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

/*encadré*/
.container-5 {
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

/*container cartes hotel*/
.container-6 {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

/*deux tiers de page*/
.bloc-1 {
    display: flex;
    margin: 0 20px 0 0;
}

/*un tiers de page*/
.bloc-2 {
    display: flex;
}

.wrap-1 {
    flex: 1 0 95%;
}

.wrap-3 {
    max-width: 30%;
}

.ombre {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
    border-radius: 1rem;
}

.cartes-hotel {
    padding:0.2rem;
    box-sizing: border-box;
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#ffffff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:1rem;
}

.carte {
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#ffffff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:1rem;
}

.carte.hotel {
    padding:0.2rem;
    box-sizing: border-box;
}

.carte.petit {
    max-height: 170px;
}

.carte.grand {
    height: 100%;
}

.carte-corps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px 20px;
}

.carte-titre {
    margin: 0;
}

.img-logo {
    width: 100px;
    height: auto;
}

.img-hotel {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.img-gauche {
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
    width: 40%;
    height: 110px;
    object-fit: cover;
}

.img-visites-1 {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.img-visites-2 {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.populaire {
    display: flex;
    flex-direction: row;
}

h5 {
    color: #000000;
    font-size: 0.9em;
    font-weight: 700;
    font-style: normal;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p.petit {
    font-size: 0.8em;
    line-height: 2em;
}

.etoiles {
    font-size: 0.8em;
}

p.bold {
    font-weight: bold;
}

/*étoile pleine*/
.checked {
    color: #0d6efd;
}

/*étoile vide*/
.unchecked {
    color: #f2f2f2;
}

/* fin blocks gris */

/* début navbar */

.navigation {
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
}
.navigation-image {
    grid-area: logo;
    padding: 0 2rem;
    width: 100px;
    height: auto;
}
.navigation-menu {
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.navigation-menu-lien {
    padding: 2rem;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navigation-inscription {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: bold;
}

/* fin navbar */

/* search box */

.bouton {
    margin:0;
}

.container-11 {
    display:flex;
    width: 330px;
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 0.5rem;
}

.location {
    display: flex;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background-color: #f2f2f2;
    padding:0.2rem 0.6rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
}



.form-wrapper-2 {
    width: 330px;
}

.form-wrapper-2 input {
    width: 210px;
    padding:0.6rem 0.2rem;
    box-sizing: border-box;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #ffffff;
    border-radius: 0.5rem 0 0 0.5rem;
}
.form-wrapper-2 button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background: #0d6efd;
    border-radius: 0 0.5rem 0.5rem 0;
}

.bouton-desktop {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 110px;
    color: #ffffff;
    background: #0d6efd;
    border-radius: 0 0.5rem 0.5rem 0;
}


/*font rubrique footer*/
p.rubrique {
    font-weight: bold;
}

/*font rubrique footer*/
p.footer {
    margin: 0 30px;
    line-height: 2em;
}

/*container rubrique footer*/
.container-7 {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    padding: 30px 0;
    box-sizing: border-box;
}

/*filtre*/
.container-8 {
    background: #ffffff;
    padding:0.2rem 0.6rem;
    box-sizing: border-box;
    text-align: center;
}

/*icone filtre*/
.container-9 {
    background: #DEEBFF;
    padding:0.6rem;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
}

/*icone info*/
.info {
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    border: 2px solid #f2f2f2;
}

.container-10 {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: 2px solid #f2f2f2;
    text-align: center;
    margin: 5px;
}


.container-10.texte {
    border: none;
}

.filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.phrase-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 0.2rem;
    box-sizing: border-box;
}

.couleur-gris-f {
    color: #696969;
}

.couleur-bleu {
    color: #0d6efd;
}

.couleur-blanc {
    color: #ffffff;
}

.carte-corps>.fa {
    font-size: 0.8em;
}

.droite {
    float: right;
}

/*MOBILE*/
@media only screen and (max-width : 420px)  {
    .navbar {
        align-items: start;
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .container-1 {
        flex-direction: column;
    }
    .container-5 {
        max-width: 98%;
        padding: 10px;
    }
    .container-11 {
        width: 300px;
    }
    .form-wrapper-2 {
        width: 280px;
    }
    .form-wrapper-2 input {
        width: 140px;
    }
    .container-2 {
        flex-direction: column;
        width: 95%;
        padding: 15px;
    }
    .container-6 {
        flex-direction: column;
    }
    .container-6 {
        width:100%;
    }
    .bloc-1 {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .bloc-2 {
        width:100%;
    }
    .ligne-responsive {
        flex-direction: row;
    }
    .carte-corps>.fa {
        font-size: 0.6em;
    }
    p.petit {
        line-height: 1em;
        padding:0.6rem 0;
    }
    .carte-titre {
        font-size: 0.8em;
    }
    .bouton-mobile {
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 60px;
        color: #ffffff;
        background: #0d6efd;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .bouton-desktop {
        display:none;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .container-4 {
        width: 95%;
    }

    .hotel-prix {
        line-height: 1.2em;
    }
    .wrap-3 {
        max-width: 100%;
    }
    .container-7 {
        width: 90%;
    }

    .fond-blanc {
        background: #ffffff;
    }

    .visites-mobile {
        height: 200px;
        box-sizing: border-box;
    }

    .visites-grand-mobile-100 {
        height: 95%;
        box-sizing: border-box;
    }

    .visites-grand-mobile-80 {
        height: 80%;
        box-sizing: border-box;
    }

    .phrase-info {
        max-width: 75%;
    }
    .inscription {
        align-self: flex-start;
    }

    .menu {
        align-self: flex-end;
        align-items: flex-end;
    }

    .navbar-menu {
        flex-direction: column-reverse;
    }

    .navigation {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .navigation-image {
        order: 0;
    }
    .navigation-inscription {
        order: 1;
    }
    .navigation-menu {
        order: 2;
    }
    .navigation-menu-lien {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .navigation-menu-lien[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .navigation-menu-lien:hover {
        border-bottom-color: #0065FC;
    }
}

/*DESKTOP*/
@media only screen and (min-width : 421px) {
    .bloc-1 {
        max-width: 63%;
    }

    .bloc-2 {
        max-width: 33%;
    }

    .bouton-mobile {
        display:none;
    }

    .navigation-menu-lien [data-active=true] {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }
    .navigation-menu-lien:hover {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }
}