html {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h3{
    color: #000000;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color:inherit;
}

/*sections*/
.container-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
/*direction colonne*/
.colonne {
    flex-direction: column;
}

/*direction ligne*/
.en-ligne {
    flex-direction: row;
}

/*section grise*/
.container-1.gris {
    background-color: #f2f2f2;
}

/*encadré gris*/
.container-2 {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: .5rem;
}

/*cartes*/
.container-3 {
    flex: 1;
    margin:5px;
    display: flex;
    flex-direction: column;
}

/*container cartes activités*/
.container-4 {
    height: 370px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

/*encadré*/
.container-5 {
    background: #ffffff;
    padding: 20px;
}

/*container cartes hotel*/
.container-6 {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

/*deux tiers de page*/
.bloc-1 {
    flex: 4;
    display: flex;
}

/*un tiers de page*/
.bloc-2 {
    flex: 2;
    display: flex;
    max-width: 35%;
}

.wrap-1 {
    flex: 1 0 95%;
}

.wrap-2 {
    flex: 1 0 48%;
}

.wrap-3 {
    flex: 1 0 32%;
}

.wrap-4 {
    flex: 1 0 21%;
}

.ombre {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
    border-radius: 0.5rem;
}

.cartes-hotel {
    padding:0.5rem;
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#ffffff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:0.5rem;
}

.carte {
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#ffffff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:0.5rem;
}

.carte.hotel {
    padding:0.5rem;
}

.carte.petit {
    max-height: 170px;
}

.carte.grand {
    height: 100%;
}

.carte-corps {
    flex:1 1 auto;
    min-height:1px;
    padding:0.5rem
}

.carte-titre {
    margin: 0
}

.img-logo {
    width: 100px;
    height: auto;
}

.img-hotel {
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.img-gauche {
    border-top-left-radius:0.5rem;
    border-bottom-left-radius:0.5rem;
    width: 50%;
    height: 110px;
    object-fit: cover;
}

.img-visites-1 {
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.img-visites-2 {
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.populaire {
    display: flex;
    flex-direction: row;
}

h5 {
    color: #000000;
    font-size: 0.9em;
    font-weight: 700;
    font-style: normal;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p.petit {
    font-size: 0.8em;
    line-height: 0.9em;
}

p.bold {
    font-weight: bold;
}

/*étoile pleine*/
.checked {
    color: #0d6efd;
}

/*étoile vide*/
.unchecked {
    color: #f2f2f2;
}

/* fin blocks gris */

/* début personnalisation navbar reservia PAS FINI */

.navbar {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding:0.5rem 1rem;
    background-color: #ffffff;
}

.navbar-brand {
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap
}

.navbar-nav {
    display:flex;
    flex-direction:row;
    padding:0;
    margin:0;
    list-style:none;
    height:80px;
}

.nav-link-bold {
    font-weight: 700;
    color: #0d6efd;
}

ul.navbar-nav a:hover {
    color: #0d6efd;
}

a.nav-active {
    border-top: 2px solid #0d6efd;
    padding:10px 5px;
}

.border-nav:hover {
    border-top: 2px solid #0d6efd;
}

.border-nav {
    border-top: 2px solid transparent;
    padding:10px 5px;
}


/* fin personnalisation navbar reservia */

/* search box */

.bouton {
    margin:0;
}

.container-11 {
    display:flex;
    width: 330px;
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 0.5rem;
}

.location {
    display: flex;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}



.form-wrapper-2 {
    width: 330px;
    padding: 2px;
}

.form-wrapper-2 input {
    width: 210px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #ffffff;
    border-radius: 0.5rem 0 0 0.5rem;
}
.form-wrapper-2 button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background: #0d6efd;
    border-radius: 0 0.5rem 0.5rem 0;
}

/*font rubrique footer*/
p.rubrique {
    font-weight: bold;
}

/*font rubrique footer*/
p.footer {
    margin: 0 30px;
    line-height: 2em;
}

/*container rubrique footer*/
.container-7 {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    padding: 30px 0;
}

/*filtre*/
.container-8 {
    background: #ffffff;
    padding: 5px 10px;
    text-align: center;
}

/*icone filtre*/
.container-9 {
    background: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
}

/*icone info*/
.info {
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    border: 2px solid #f2f2f2;
}

/*icône bleue*/
.fas {
    color:#0d6efd;
}


.container-10 {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    border: 2px solid #f2f2f2;
    text-align: center;
    margin-right: 10px;
}

.container-10.texte {
    border: none;
}

.filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.phrase-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}

.fa-map-marker-alt {
    color: #696969;
}


/*MOBILE*/
@media only screen and (max-width : 320px)  {
    .navbar {
        align-items: start;
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .container-1 {
        flex-direction: column;
    }
    .container-5 {
        max-width: 300px;
    }
    .container-11 {
        width: 300px;
    }
    .form-wrapper-2 {
        width: 260px;
        padding: 2px;
    }
    .form-wrapper-2 input {
        width: 140px;
    }
    .container-2 {
        flex-direction: column;
    }
    .container-6 {
        flex-direction: column;
    }
    .container-6 {
        width:100%;
    }
    .bloc-1 {
        width:100%;
    }

    .bloc-2 {
        max-width:100%;
    }
    .ligne-responsive {
        flex-direction: row;
    }
    .carte-corps>.fa {
        font-size: 0.6em;
    }
    p.petit {
        line-height: 1em;
        padding: 10px 0;
    }
    .carte-titre {
        font-size: 0.8em;
    }
}